body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
}

input, button {
    width: 100%
}

input {
    background-color: rgba(255, 255, 255, 0.1);
}
